header{
    display    :table;
    width	   :100%;
    background :#efefef;
}
#app_header_logo{
    display  :table-cell;
}
#app_header_title{
    display  :table-cell;
}
#app_header_login{
    display  :table-cell;
}

.rodape{
    display  :table;
    width	    :100%;
    border			:0px;
	font-size		:10px;
	text-align		:center;
	vertical-align	:middle;
	color			:navy;
	background		:#efefef;
    height          :20px;
}
#app_footer_message{
    display  :table-cell;
}
#app_footer_company{
    display  :table-cell;
}
#app_footer_module{
    display  :table-cell;
}

.menuIcon {
    width: 16px;
    height: 16px;
}

.table-hover tbody tr:hover td {
    /* background-color: rgb(255, 255, 5); */
    background: #D0D0D0 url(../base/imagens/fwSmallDarkGradient.png) left center repeat-x !important;
}

.th-mobile{
    display: none;
}

/************************
    BOOTSTRAP
****************************/

.icon::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
.find::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f002";
}
.save::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f067";
}
.erase::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f12d";
}
.update::before {
     font-family: "Font Awesome 5 Free";
     font-weight: 900;
     content: "\f044";
}
.delete::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f2ed";
}

/****************************************************/
@media screen and (max-width: 600px) {
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
      display: block;
      margin-top: 20px;
    }
    
    table td {
      display: block;
    }

    .th-mobile {
        display: inline-block;
        font-weight: bold
    }
  }
  